*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
    color: black;

}
header{
    background-color: #80BACB;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .logo {
        height: 120px;
        width: 50%;
        margin: auto;
        display: flex;
}
    
    nav {
    display: flex;
    width: 55%;
}

    .nav-menu {
    width: 70%;
    list-style: none;
    margin: 8px;
    padding: 8px;
    display: flex;
    font-size: 15px;
}

    .nav-menu li {
    margin-left: 65px;
}

    .nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

    .nav-menu a:hover {
    color: #000000;
}
.container {
    width: 60%;
    margin: auto;
    overflow: hidden;
    padding: 1px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form, .location-hours {
    margin: 20px 0;
}

.contact-form h2, .location-hours h2 {
    color: #50b3a2;
}

.contact-form form {
    background-color: #80BACB;
    border: 1px solid #80BACB;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}


.contact-form label {
    margin-top: 10px;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.contact-form button {
    padding: 10px;
    background: #50b3a2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #429487;
}

.location, .hours {
    position: center ;
    flex: 1;
    margin: 10 15px;
    scroll-margin-block-end: 70px;
    width: 700px;
    height: 467px;
    top: 200px;
    left: 1100px;  
}
footer {
    font-size: 15px;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    font-size: 20px;
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h4 {
    font-size: 20px;
    margin-top: 0;
}

.footer-section p {
    font-size: 20px;
    margin: 5px 0;
}

.footer-section a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.footer-section a:hover {
    font-size: 20px;
    text-decoration: underline;
}

.footer-bottom {
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    border-top: 0x solid #444;
    margin-top: 0px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }
}
